@keyframes fadeIn {
  0% {
    opacity: 0.75;
  }

  50% {
    opacity: 1;
  }
}

.image-carousel-container {
  flex-basis: 850px;
  height: 550px;
  margin: 20px;
  position: relative;
}

.magnifyContainer {
  width: 100%;
  height: 50%;
  min-width: 150px;
  min-height: 150px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.magnifyContainer.active {
  cursor: crosshair;
}

.magnifyContainer.active > div.magnifier {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  background-repeat: no-repeat;
  animation: fadeIn 0.75s ease-in-out;
}

.styImageContainer {
  width: 100%;
  height: 100%;
  display: block;
}

@media only screen and (max-width: 600px) {
  .image-carousel-container {
    height: 250px;
    flex-basis: 0;
  }
}
